<form>
  <h2>Monthly calendar</h2>
  <div>
    <label>Start date (ex. 8/15/2008):</label>
    <input name="startDate" #newStartDate>
  </div>
  <div>
    <label>Number of days:</label>
    <input name="#newNumberOfDays" #newNumberOfDays>
  </div>
  <div>
    <label>Country Code:</label>
    <input name="#newCountryCode" #newCountryCode>
  </div>
  <button (click)="generate(newStartDate, newNumberOfDays, newCountryCode)">
    Show calendar
  </button>
</form>
<table *ngFor="let key of monthKeys">
  <tr>
    <td *ngFor="let weekDay of weekDays">{{weekDay}}</td>
  </tr>
  <tr>
    <td colspan="7" style="text-align: center">{{key}}</td>
  </tr>
  <tr *ngFor="let week of getWeeksByKey(key)">
    <td appColorCoded [colorClass]="getColorOfDay(day)" *ngFor="let day of getDays(key, week)">
      <label title="{{getHolidayName(day)}}">{{getDate(day)}}</label>
    </td>
  </tr>
</table>
